<footer class="footer">
  <div class="container">
    <div class="footer-content-holder">
      <div class="logo-section">
        <a href="index.html" class="logo">
          <svg class="logo">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="social-media-links">
          <li>
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noreferrer"
            >
              <svg width="28" height="28">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noreferrer"
            >
              <svg width="28" height="28">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noreferrer"
            >
              <svg width="28" height="28">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <h2 class="footer-title">
        Transforming your <span>body</span> shape with us
      </h2>
      <div class="subscription-form-holder">
        <h3>Subscribe and learn about new exercises!</h3>
        <form class="subscription-form" id="subscription-form">
          <input
            type="email"
            name="email"
            placeholder="Email"
            required
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
          <button type="submit">Send</button>
        </form>
      </div>
    </div>

    <ul class="privacy-policy">
      <li>Your Energy. All rights reserved.</li>
      <li>Privacy Policy / Terms of Service</li>
      <li>©2024</li>
    </ul>
  </div>
</footer>
