.exercises-section {
    padding-bottom: 80px;
}

.exercises-cards {
    padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
    .exercises-section {
        padding-bottom: 100px;
    }

    .exercises-cards {
        padding-bottom: 64px;
    }
}

@media only screen and (min-width: 1440px) {
    .exercises-holder {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 32px;
    }

    .exercises-section {
        padding-bottom: 132px;
    }

    .exercises-cards {
        padding-bottom: 0;
    }
}

.exercises-list {
    display: grid;
    gap: 20px;
}

@media only screen and (min-width: 768px) {
    .exercises-list {
        grid-template-columns: repeat(2, 344px);
        gap: 32px 16px;
    }
}

@media only screen and (min-width: 1440px) {
    .exercises-list {
        grid-template-columns: repeat(2, 442px);
        gap: 32px 16px;
    }
}

.exercise-list-item {
    padding: 16px;
    background-color: var(--white);
    border-radius: 15px;
}

.exercise-list-item .first-row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.workout-element {
    padding: 5px 8px;
    border: 1px solid var(--dark-gray);
    border-radius: 15px;
    margin-right: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15.62px;

}

.rating-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    .start-button {
        font-size: 16px;
        line-height: 24px;
    }
}

.exercise-list-item .second-row {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.exercise-list-item .second-row p {
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 262px;
}

@media only screen and (min-width: 768px) {
    .exercise-list-item .second-row p {
        font-size: 24px;
        line-height: 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .exercise-list-item .second-row p {
        max-width: 332px;
    }
}

.exercise-description-list {
    display: grid;
    grid-template-columns: 2.1fr 1.5fr 1.1fr;
    gap: 10px;
}

.exercise-description-list li {
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.exercise-description-list li span {
    color: rgba(36, 36, 36, 0.4);
}
