.favorites-content-holder {
    padding: 80px 0;
}

.favorites-exercises-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (min-width: 768px) {
    .favorites-exercises-holder {
        gap: 64px;
    }
}

@media only screen and (min-width: 1440px) {
    .favorites-exercises-holder {
        flex-direction: row;
        gap: 32px;
    }

    .favorites-exercises-holder .exercises-container {
        width: 818px;
    }
}

.favorites-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .favorites-title {
        margin-bottom: 32px;
        font-size: 44px;
        font-weight: 400;
        line-height: 48px;
    }
}

.favorites-quote-card {
    padding: 20px;
    border-radius: 20px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-area: white-card;
}

.favorites-quote-container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        'card'
        'white-card'
        'image';
}

.favorites-quote-container .quote-card {
    grid-area: card;
    justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
    .favorites-quote-container {
        grid-template-columns: calc(50% - 12px);
        grid-template-rows: 230px 142px;
        grid-template-areas:
            'card card'
            'white-card image';
    }
}

@media only screen and (min-width: 1440px) {
    .favorites-quote-container .quote-card {
        max-width: 494px;
    }
}

.favorites-quote-image {
    border-radius: 20px;
    grid-area: image;
}

.favorites-quote-card .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 6px;
}

.favorites-quote-card .subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(36, 36, 36, 0.6);
}

.exercises-empty-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .exercises-empty-text {
        font-size: 18px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 1440px) {
    .favorites-exercises-holder .exercises-list {
        grid-template-columns: repeat(2, 404px);
    }
}
