.footer {
    background-color: var(--dark-gray);
    color: var(--light-gray);
    padding-top: 40px;
    padding-bottom: 10px;
}

.footer .logo {
    fill: currentColor;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .footer .logo {
        margin-bottom: 32px;
    }
}

.footer-content-holder {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    grid-template-areas:
        'logo'
        'title'
        'form'
    ;
}

@media only screen and (min-width: 768px) {
    .footer-content-holder {
        grid-template-columns: 156px 434px;
        grid-template-areas:
            'logo title'
            'x form'
        ;
    }
}

@media only screen and (min-width: 1440px) {
    .footer-content-holder {
        grid-template-columns: 156px 595px 352px;
        grid-template-areas:
            'logo title form'
        ;
    }
}

.footer .logo-section {
    margin-bottom: 40px;
    grid-area: logo;
}

.footer-title {
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
    grid-area: title;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .footer-title {
        font-size: 56px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: -0.02em;
        margin-bottom: 32px;
    }
}

.footer-title span {
    font-style: italic;
}



.subscription-form-holder {
    margin-bottom: 120px;
    grid-area: form;
}

@media only screen and (min-width: 768px) {
    .subscription-form-holder {
        max-width: 298px;
    }
}

.subscription-form-holder h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subscription-form input {
    padding: 12px 14px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid var(--light-gray);
    color: var(--light-gray);
}

.subscription-form input::placeholder {
    color: rgba(244, 244, 244, 0.6);
}

.subscription-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    border-radius: 30px;
    padding: 12px 14px;
}

.privacy-policy {
    color: rgba(198, 205, 209, 1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
    .privacy-policy {
        justify-content: flex-start;
    }

    .privacy-policy li:nth-child(1) {
        flex-basis: 270px;
    }

    .privacy-policy li:nth-child(2) {
        flex-basis: 390px;
    }
}

@media only screen and (min-width: 1440px) {
    .privacy-policy {
        justify-content: flex-start;
    }

    .privacy-policy li:nth-child(1) {
        flex-basis: 294px;
    }

    .privacy-policy li:nth-child(2) {
        flex-basis: 730px;
    }
}
